force-app/main/default/flows/Opportunity_Follow_up_Alert_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Proposal_Alert_to_Manager</name>
        <label>Proposal Alert to Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Loan__c.Email_Alert_for_Loan_Approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Loan__c.Email_Alert_for_Loan_Approval</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Proposal_follow_up_Alert</name>
        <label>Proposal follow up Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Loan__c.Email_Alert_for_Loan_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_follow_up_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Loan__c.Email_Alert_for_Loan_Approval</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>High_Value_Deal</name>
        <label>High Value Deal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_value_deal_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proposal_Alert_to_Manager</targetReference>
            </connector>
            <label>High value deal 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sending Email Alert to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Follow-up Alert Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_follow_up_Task</name>
        <label>Create follow up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Last_Proposal_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up Task</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Last_Proposal_Date</name>
        <label>Update Last Proposal Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>High_Value_Deal</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <stringValue>ram</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Proposal_follow_up_Alert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal/Price Quote</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
