force-app/main/default/flows/Opportunity_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decide_Cycle</name>
        <label>Decide_Cycle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Half_yearly_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Half-yearly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Half_Child1</targetReference>
            </connector>
            <label>Half_yearly_outcome</label>
        </rules>
        <rules>
            <name>Quaterly_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quater_Child_1</targetReference>
            </connector>
            <label>Quaterly_outcome</label>
        </rules>
        <rules>
            <name>Yearly_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cycle_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annually</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Yearly_Child_1</targetReference>
            </connector>
            <label>Yearly_outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}/2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>amount_2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}/2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>amount_Q_1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount}/3</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Close_date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 6)</expression>
    </formulas>
    <formulas>
        <name>close_date_Q_8m</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 8)</expression>
    </formulas>
    <formulas>
        <name>close_date_quaterly_3</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 12)</expression>
    </formulas>
    <formulas>
        <name>close_date_Quaterly_4m</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 4)</expression>
    </formulas>
    <formulas>
        <name>close_date_yearly</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 12)</expression>
    </formulas>
    <formulas>
        <name>Create_Half_YearChild2</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(DATEVALUE($Record.CreatedDate), 12)</expression>
    </formulas>
    <formulas>
        <name>Cycle_c</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 1&quot;</expression>
    </formulas>
    <formulas>
        <name>name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 2&quot;</expression>
    </formulas>
    <formulas>
        <name>Name_1_Q</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 1&quot;</expression>
    </formulas>
    <formulas>
        <name>name_2</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 2&quot;</expression>
    </formulas>
    <formulas>
        <name>name_Q_3</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 3&quot;</expression>
    </formulas>
    <formulas>
        <name>Name_yearly</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; 1&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity_Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Cycle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Half_Child1</name>
        <label>Create_Half_Child1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Half_child_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Half-yearly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cycle_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Half_child_2</name>
        <label>Create_Half_child_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>amount_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Create_Half_YearChild2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Half-yearly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quater_Child_1</name>
        <label>Create_Quater_Child_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Quater_Child_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>amount_Q_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date_Quaterly_4m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_1_Q</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quater_Child_2</name>
        <label>Create_Quater_Child_2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Quater_Child_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>amount_Q_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date_Q_8m</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quater_Child_3</name>
        <label>Create_Quater_Child_3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>amount_Q_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date_quaterly_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>name_Q_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Yearly_Child_1</name>
        <label>Create_Yearly_Child_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>close_date_yearly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle_Type__c</field>
            <value>
                <stringValue>Annually</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_yearly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decide_Cycle</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
